<div class="container">
	<nav class="masthead">
		<div class="container-fluid">
			<h3>Backbone App</h3>
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul class="nav">
							<li class="active"><a href="#">Home</a></li>
							<li><a href="#/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
